# Docker Compose local infrastructure

USUARIOS_DB_NAME=usuarios_db
USUARIOS_DB_USERNAME=postgres
USUARIOS_DB_PASSWORD=postgres
USUARIOS_DB_PORT=5432

VEHIQLOS_DB_NAME=vehiqlos
VEHIQLOS_DB_USERNAME=postgres
VEHIQLOS_DB_PASSWORD=postgres
VEHIQLOS_DB_PORT=5433

TICKETS_DB_NAME=tickets
TICKETS_DB_USERNAME=postgres
TICKETS_DB_PASSWORD=postgres
TICKETS_DB_PORT=5434

ZONAS_DB_NAME=zonas_espacios
ZONAS_DB_ROOT_PASSWORD=root
ZONAS_DB_USERNAME=parkingapp
ZONAS_DB_PASSWORD=parkingapp
ZONAS_DB_PORT=3306
